body {
  background-image:url(https://github.com/tai44ba/saishono/blob/master/IMG_0335.PNG?raw=true);
  background-size: cover;
  width:0 auto;
  height: 900px;
}
.top-title h1 {
  text-align: center;
  position: static;
  color: white;
  font-size: 70px;
  opacity: 0.7;
  line-height: 60px;


}
.top-title {
  text-align: center;
  z-index: 10;
  position: fixed;

}
.container {
  padding-top: 200px;
  width:800px;
  margin:0 auto;


}
